body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.bobaImg {
  height: 180px;
  width: 190px;
}

.rainbow-text {
  -webkit-animation: color-change 1s infinite;
  -moz-animation: color-change 1s infinite;
  -o-animation: color-change 1s infinite;
  -ms-animation: color-change 1s infinite;
  animation: color-change 1s infinite;
  font-size: 2rem;
}

@-webkit-keyframes color-change {
  0% {
    color: red;
  }
  25% {
    color: orange;
  }
  50% {
    color: green;
  }
  75% {
    color: blue;
  }
  100% {
    color: purple;
  }
}
@-moz-keyframes color-change {
  0% {
    color: red;
  }
  25% {
    color: orange;
  }
  50% {
    color: green;
  }
  75% {
    color: blue;
  }
  100% {
    color: purple;
  }
}
@-ms-keyframes color-change {
  0% {
    color: red;
  }
  25% {
    color: orange;
  }
  50% {
    color: green;
  }
  75% {
    color: blue;
  }
  100% {
    color: purple;
  }
}
@-o-keyframes color-change {
  0% {
    color: red;
  }
  25% {
    color: orange;
  }
  50% {
    color: green;
  }
  75% {
    color: blue;
  }
  100% {
    color: purple;
  }
}
@keyframes color-change {
  0% {
    color: red;
  }
  25% {
    color: orange;
  }
  50% {
    color: green;
  }
  75% {
    color: blue;
  }
  100% {
    color: purple;
  }
}

.qty-width {
  max-width: 5em;
}

.main-text {
  width: 75%;
  margin-top: 2em;
}

.main-font {
  font-size: calc(18px + 1vw);
}

.ignore-css {
  all: unset;
}

.form-width {
  max-width: 30em;
}

input {
  border: 0px solid #000;
  margin: 0;
  background: transparent;
  width: 100%;
}
table tr td {
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
}
table {
  background: #fff none repeat scroll 0 0;
  border-left: 1px solid #000;
  border-top: 1px solid #000;
  border-collapse: separate;
  border-spacing: 1em;
  margin-left: 1em;
  margin-bottom: 1em;
  max-width: 800px;
  width: 90%;
}
table tr:nth-child(even) {
  background: #ccc;
}
table tr:nth-child(odd) {
  background: #eee;
}

.checkout-button {
  padding: 0.7em;
  border-radius: 3px;
  text-decoration: none;
}

.boba-margin {
  margin: 1em;
}

.cart-width {
  width: 70%;
}

.bobasaur {
  color: #9e3c49;
  text-decoration: none;
  font-weight: bold;
}

.link {
  color: #92d1b3;
  font-weight: bold;
  text-decoration: none;
}

.background {
  background-color: #49896f;
}
